@font-face {
	font-family:"Parisian";
	src:url("Parisian.eot?") format("eot"), 
		url("Parisian.woff") format("woff"), 
		url("Parisian.ttf") format("truetype"), 
		url("Parisian.svg#Parisian") format("svg");
	font-weight:normal;
	font-style:normal;
}


@font-face {
	font-family:"Open Sans";
	src:url("OpenSans-Regular.eot?") format("eot"), 
		url("OpenSans-Regular.woff") format("woff"), 
		url("OpenSans-Regular.ttf") format("truetype"), 
		url("OpenSans-Regular.svg#OpenSans") format("svg");
	font-weight:normal;
	font-style:normal;
}