/*
Copyright © Model Website
HTML5/CSS3/jQuery By Abhay Mandal (UX/UI Engineer - abhaymandal@gmail.com)
*/

body{font-size:14px; color:#fff; font-family:'Open Sans',Arial, Helvetica, sans-serif; padding:0; margin:0; background:url(../img/bg.jpg) center top no-repeat #000 fixed}
p,h1,h2,h3,form,img,ul{border:0; padding:0; margin:0;}
a{color:#9d03ff; text-decoration:none; outline:none;transition:all 300ms ease-in-out;}
a:hover, a:focus{text-decoration:none; color:#9d03ff;}
.img_v{vertical-align:middle;}

header, footer, section, nav, article, address, aside, section{display:block;}

/* Sticky footer styles
-------------------------------------------------- */
html {position: relative; min-height: 100%;}
body {margin-bottom: 30px;}
.footer {position: absolute; bottom: 0; width: 100%; height: 30px; line-height:30px; font-size:10px; background:#000; text-align:center}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container { padding:0 15px;}
.container .text-muted { margin: 20px 0;}
.footer > .container { padding-right: 15px; padding-left: 15px;}


/*-----------------------Header CSS------------------------*/
.fixHeaderGap{padding-top:91px;}
.fixHeaderGap:after{display:table; clear:both; content:"";}
.navbar-inverse{background:url(../img/bg.jpg) center top no-repeat #000; padding:20px 0; font-family:"Parisian",Arial, Helvetica, sans-serif; margin-bottom:0}
.navbar-inverse .navbar-brand{font-size:36px; color:#9d03ff; position:relative; transition:all 300ms ease-in-out}
.navbar-brand:after{position:absolute; top:70%; left:15px; font-size:12px; content:"some text";font-family:'Open Sans',Arial, Helvetica, sans-serif; color:#a9a0b5}
.nav{font-size:24px;}
.nav>li>a{padding:15px 3px 2px 3px; margin:0 15px; border-bottom:2px solid transparent;}
.navbar-inverse .navbar-nav>li>a{ color:#fff}
.nav>li>a:hover, .nav>li.act>a{border-bottom:2px solid #9d03ff;color:#fff}
.navbar-right{margin:0;}
.nav>li>span{display:block; padding:7px 3px 2px 3px; margin:0 15px;}
.nav>li>span>a:hover{color:#fff; text-decoration:underline;}

.navbar-inverse .navbar-toggle{border:1px solid #999;}
/*-----------------------Header CSS end------------------------*/

/*-----------------------Body CSS------------------------*/
.fill{width:100%;height:100%;background-position:center;background-size:cover;}
.carousel,.item,.active, .carousel-inner{height:340px;}

.carousel-indicators li, .carousel-indicators .active{width:6px; height:6px; border:0; margin:0 3px; background:#fff}
.carousel-indicators .active{background:#9d03ff;}
.carousel-indicators{bottom:-5px;}
.carousel-caption{text-align:left; left:10%; width:50%; bottom:25%;}
.carousel-caption>h2{font-family:"Parisian",Arial, Helvetica, sans-serif; padding-bottom:20px;}
.carousel-caption>p{font-size:17px; color:#CCC}

.login{background:url(../img/blackBgTransparent.png); padding:20px; position:absolute; right:0; top:0; z-index:11; width:26%; height:100%}
.SignUpSep{position:relative;}
.SignUpSep:before, .SignUpSep>a:before{content:""; height:1px; width:44%; position:absolute; top:20px; left:5%; background:#484a4d;}
.SignUpSep:after{content:""; width:14px; height:14px; position:absolute; top:14px; left:48%; background:url(../img/sep.png) center center no-repeat;}
.SignUpSep>a:before{left:auto; right:5%; width:43%;}
/*-----------------------Body CSS end------------------------*/

/*-----------------------Footer CSS------------------------*/
.footer{list-style:none;}
/*-----------------------Footer CSS end------------------------*/

.inp, .inpSmall{border:1px solid #c2c2c2; border-radius:20px; font-size:14px; font-family:'Open Sans',Arial, Helvetica, sans-serif; padding:6px 10px; box-sizing:border-box; width:100%; max-width:100%; color:#000000; margin-top:3px; background:#fff}
select.inp{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
.inpSmall{padding:3px 6px; font-size:13px;}
.PurpleDrop{position:relative; display:block;background:#8e07ff; border-radius:20px; margin-top:3px;}
.PurpleDrop>select{background:none; border-color:#8e07ff; color:#fff; position:relative; z-index:2;  padding:5px 10px; margin-top:0;}
.PurpleDrop:after{position:absolute; top:14px; right:16px; border-top:8px solid #fff; border-right:8px solid transparent; border-left:8px solid transparent; z-index:1; content:""}

.PurpleBtn{border-radius:20px; font-size:14px; font-family:'Open Sans',Arial, Helvetica, sans-serif; padding:6px 10px !important; box-sizing:border-box; width:100%; max-width:100%; color:#fff; margin-top:3px; background:#8e07ff; border:0;transition:all 300ms ease-in-out;}
.PurpleBtn:hover{background:#A236FD;}

.creatHeight:after{content:""; display:table; clear:both;}

.Parisian{font-family:"Parisian",Arial, Helvetica, sans-serif;}

.size12{font-size:12px;}
.size14{font-size:14px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.size20{font-size:20px;}
.size24{font-size:24px;}

.blue{color:#9d03ff;}
.white{color:#fff;}
.grey{color:#ccc;}

.bgBlackTrans{background:url(../img/blackBgTransparent50.png);}

.paddingBottom5{padding-bottom:5px;}
.paddingBottom10{padding-bottom:10px;}
.paddingBottom20{padding-bottom:20px;}
.paddingBottom40{padding-bottom:40px;}
.paddingTop5{padding-top:5px;}
.paddingTop10{padding-top:10px;}
.paddingTop20{padding-top:20px;}
.paddingTop40{padding-top:40px;}
.paddingLeftRight15{padding-left:15px; padding-right:15px;}
.paddingLeft15{padding-left:15px;}
.paddingRight15{padding-right:15px;}
.padding10{padding:10px;}
.padding20{padding:20px;}

.marging0{margin:0}
.padding0{padding:0}

.borderAllPurple{border:1px solid #2b024e; transition:all 300ms ease-in-out;}
.borderBottom{border-bottom:1px solid #8d8d8d;}
.borderBottomLight{border-bottom:1px solid #e5e5e5;}
.borderRight{border-right:1px solid #e5e5e5;}
.borderCenter{background:url(../images/grey_pixel.gif) center 50% repeat-x;}
.dividerUni{margin:0 15px;border-bottom:1px solid #e5e5e5; height:1px; clear:both;}

@media (max-width:1200px){
/*CSS For Large Screen*/	
}

@media (max-width:767px){
/*CSS For Large Screen*/		
}

@media (max-width:480px){
.carousel,.item,.active, .carousel-inner{height:380px;}
.login{width:100%;}	
}